/* ===== MENU DESKTOP ===== */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: var(--space-3);
}

nav li {
  list-style: none;
  position: relative;
}

nav a {
  color: white;
  font-weight: 500;
}

/* ===== DROPDOWN ===== */

nav li:hover > ul {
  display: block;
}

nav li ul {
  display: none;
  position: absolute;
  top: 30px;
  background: var(--color-primary);
  padding: var(--space-2);
  border-radius: var(--radius-sm);
}

nav li ul li {
  padding: var(--space-1) 0;
}

/* ===== MOBILE MENU ===== */

.menu-btn {
  display: none;
  cursor: pointer;
  font-size: var(--font-lg);
  color: white;
  background: none;
  border: none;
}

@media (max-width: 768px) {

  nav ul {
    display: none;
    flex-direction: column;
    gap: var(--space-2);
    background: var(--color-primary);
    padding: var(--space-2);
    position: absolute;
    right: 0;
    top: 60px;
    width: 180px;
    border-radius: var(--radius-md);
  }

  nav ul.active {
    display: flex;
  }

  .menu-btn {
    display: block;
  }
}
